/* item 1 music*/
text .window {
  width: 200px;
  height: 100px;
  display: block;
  top: 0;
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ff2370;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff206769;
}

.image-1 img {
  display: flex;
  width: 400px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* Styles for phones */
@media only screen and (max-width: 600px) {
  .image-1 img {
    display: fixed;
    width: 200px;
    height: 100% auto;
    justify-content: center;
    align-items: center;
  }

  .text .window-body {
    width: 100%;
    height: 100%;
    margin: 1px;
  }

  .text .social-media img {
    display: flex; /* or display: block; */
    width: 16px; /* Adjust the width of the icons as needed */
    max-height: 50%; /* Maintain aspect ratio */
    padding: 0%;
    margin: 0%;
  }
}
