/* item 1 music*/
text .window {
  width: 200px;
  height: 100px;
  display: block;
  top: 0;
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ff2370;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff206769;
}

/* Media query for small screens (e.g., cellphones) */
@media only screen (min-width: 320px) and (max-width: 768px) {
  body {
    margin: 10px;
  }

  form {
    max-width: none;
  }

  input,
  textarea {
    width: 100%;
  }
}




/*  Preloader */

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader {
  position: fixed; /*appears above everything on the top page*/
  top: 0;
  left: 0;
  height: 100vh; /* vh viewport height*/
  width: 100%;
  display: flex;
  z-index: 100; /* makes the whole screen black nothing visible underneath*/
  align-items: center;
  justify-content: center;
  background-color: #ff03c0;
  transition: opacity 1s, visibility 2s;
}

/* CSS Sudo Element */
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #ff04a3;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/*  Preloader Ends */

.image-1 img{
  display: flex;
  width: 300px;
  height: auto;
  margin-right: auto;
  margin-left: auto;

}

progress {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%
}